doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    .row
      .col-md-12
        .display-4 Thanks for your purchase
        hr
      .col-md-6
        h4 Your Order Information
        table.table
          tr
            th Product
            th Quantity
            th Price
            th Total
          = render partial: 'order_items', collection: @order_items, as: :item
        p
          strong Total Price: $#{@total_price}
      .col-md-6
        h4 User Information
        fieldset.form-group
          label.col-md-4 Order Id
          strong.col-md-4= @order.id
        fieldset.form-group
          label.col-md-4 Created Date
          strong.col-md-8= @order.created_at.to_formatted_s(:long)
        fieldset.form-group
          label.col-md-4 Name
          strong.col-md-8= @order.name
        fieldset.form-group
          label.col-md-4 Phone
          strong.col-md-8= @order.phone_number
        fieldset.form-group
          label.col-md-4 Address
          strong.col-md-8= @order.shipping_address
